.container>.generation>.individual.cls0 {
	background-color: pink;
	color: black;
	border-color: orange;
}

.container>.generation>.individual.cls1 {
	background-color: #c3c0ff;
	color: black;
	border-color: #777598;
}

.container>.generation>.individual.cls2 {
	background-color: #f7c0ff;
	color: black;
	border-color: #54265a;
}

.container>.generation>.individual.cls3 {
	background-color: #a5f4ff;
	color: black;
	border-color: #477980;
}

.container>.generation>.individual.cls4 {
	background-color: #cdffa5;
	color: black;
	border-color: #487127;
}

.container>.generation>.individual.cls5 {
	background-color: #ffd18f;
	color: black;
	border-color: #795d35;
}

.container>.generation>.individual.cls6 {
	background-color: #47f9ff;
	color: black;
	border-color: #000000;
}

.container>.generation>.individual.cls7 {
	background-color: #ff4747;
	color: black;
	border-color: #000000;
}

.container>.generation>.individual.cls8 {
	background-color: #feff26;
	color: black;
	border-color: #6d6d59;
}

.container>.generation>.individual.cls9 {
	background-color: #cecece;
	color: black;
	border-color: #040404;
}